@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    LAAR<br />
    Toronto<br />
    Ontario<br />
    <abbr title="Phone">P:</abbr>
    x.xxx.xxx.xxxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:xxx@xxx.com">xxx@xxx.com</a>
</address>