@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Luis Alberto Andión Rodríguez<br />
    Toronto<br />
    Ontario<br />
    <abbr title="Phone">P:</abbr>
    1.647.860.0287
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:andion.cloud@gmail.com">andion.cloud@gmail.com</a>
</address>